@mixin text-style {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
}

@mixin link-style {
    @include text-style;
    text-decoration: none;
}

.login-background {
    background-image: url('../../assets/images/booboom.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.eye-icon {
    position: absolute;
    top: 28%;
    right: 10px;
    cursor: pointer;
    color: #4D4D4E;
    background-color: transparent;
    border: none;
}

.react-international-phone-input {
    @include text-style;
    padding: .375rem .75rem;
    color: black;
    border-radius: 10px;
    width: 100%;
}

.password-check {
    display: flex;
    gap: 8px;

    p {
        background: #E9E9E9;
        color: #4D4D4E;
        border-radius: 8px;
        padding: 5px;
    }
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    h2 {
        color: white;
        font-size: 32px;
        font-weight: 500;
        line-height: 38.72px;
        text-align: left;
    }

    h5 {
        color: white;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
        text-align: left;
    }

    p {
        @include text-style;
        color: white;
        margin-top: 50px;

        a {
            color: #FE7720;
            @include link-style;
        }
    }

    .form {
        margin-top: 24px;
        color: white;
        width: 360px;

        a {
            color: white;
            @include link-style;
        }

        p {
            text-align: center;
            margin-top: 10px;

            a {
                color: #FE7720;
                @include link-style;
            }
        }
    }
}
