@mixin a-style {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;

}

.login-page {

    width: 100%;
    height: 100vh;
    background-image: url('../../../src/assets/images/booboom.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    

}
.eye {
    top: 66%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    color: #4D4D4E;  

}
.login-fields {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    


    h2 {
        color: white;
        font-size: 32px;
        font-weight: 500;
        line-height: 38.72px;
        text-align: left;

    }

    h5 {
        color: white;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
        text-align: left;

    }

    .form {
        margin-top: 24px;
        color: white;
        width: 360px;

        a {
            color: white;
            @include a-style;
            
        }
        p{
            text-align: center;
            margin-top: 10px;
        }

        p a {
            color: #FE7720;
            @include a-style;
            
        }

    }

}